<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Sobre mi</h5>
          <button class="btn btn-primary float-end" (click)="openAboutModal()">Editar</button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="d-flex flex-wrap justify-content-around">
              <div class="col-12" *ngIf="person">
                <div class="card m-3 border-primary">
                  <div class="card-body">
                    <p *ngFor="let paragraph of person.aboutme.split('\n')">{{ paragraph }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-about-edit-modal *ngIf="isAboutModalOpen" [aboutInfo]="person!.aboutme" (save)="saveAboutInfo($event)" (close)="closeModal()"></app-about-edit-modal>
</div>
