<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Sobre mi</h5>
                </div>
                <div class="card-body">
                    <p style="font-weight:bold;">Soy estudiante de Programación, con un gran interés en el desarrollo
                        FrontEnd y BackEnd.</p>
                    <p style="font-style:italic;">Con capacidad para aprender y aplicar mis conocimientos al ámbito
                        profesional.</p>
                    <p>En busca de una <span style="font-weight:bold;">oportunidad laboral</span> en la que desarrollar
                        mis habilidades y adquirir experiencia.</p>
                </div>
            </div>
        </div>
    </div>
</div>