<div class="container-fluid">
  <div class="col-md-12">
    <div class="jumbotron jumbotron-fluid bg-img">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mt-1">
            <img src="../../../assets/img/perfil.png" class="rounded-circle" alt="Cinque Terre" width="200"
              height="200">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="display-3"><b>{{ user?.name }} {{ user?.lastname }}</b></h1>
            <p class="lead">{{ user?.profession }}</p>
            <button class="btn btn-primary" *ngIf="isLoggedIn" (click)="openHeaderModal()">Editar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-header-edit *ngIf="isHeaderModalOpen" [person]="user" (save)="saveHeaderInfo($event)" (close)="closeModal()"></app-header-edit>
