<div class="container-fluid">
    <div class="col-md-12">
        <!--Imagen jumbotron con una imagen de fondo y al centro  un circulo con otra imagen-->
        <div class="jumbotron jumbotron-fluid bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center mt-1">
                        <img src="../../../assets/img/perfil.png" class="rounded-circle" alt="Cinque Terre" width="200"
                            height="200">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="display-3"><b>Ramiro Hualpa</b></h1>
                        <p class="lead">Desarrollador Web</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card text-white bg-secondary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-center">Contactos</div>
                        <!--Separador en el centro-->
                        <div class="col-md-6 text-center">Universidad</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>