<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Proyectos</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="d-flex flex-wrap justify-content-around">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card m-3 border-primary">
                                    <img class="card-img-top" src="../../../assets/img/header-bg-purple.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">Proyecto 1</h5>
                                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident aut iure repudiandae sunt placeat voluptate deserunt error expedita eligendi modi fuga voluptatem necessitatibus esse ex ipsa sapiente labore, obcaecati magni?</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card m-3 border-primary">
                                <img class="card-img-top" src="../../../assets/img/header-bg-purple.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Proyecto 2</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, nisi ad itaque perspiciatis ab in ratione, ipsam nostrum, non repudiandae iure similique? Enim minus voluptatum commodi, laudantium sit eligendi libero.</p>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card m-3 border-primary">
                                <img class="card-img-top" src="../../../assets/img/header-bg-purple.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Proyecto 3</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, nisi ad itaque perspiciatis ab in ratione, ipsam nostrum, non repudiandae iure similique? Enim minus voluptatum commodi, laudantium sit eligendi libero.</p>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card m-3 border-primary">
                                <img class="card-img-top" src="../../../assets/img/header-bg-purple.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Proyecto 1</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, nisi ad itaque perspiciatis ab in ratione, ipsam nostrum, non repudiandae iure similique? Enim minus voluptatum commodi, laudantium sit eligendi libero.</p>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card m-3 border-primary">
                                <img class="card-img-top" src="../../../assets/img/header-bg-purple.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Proyecto 2</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, nisi ad itaque perspiciatis ab in ratione, ipsam nostrum, non repudiandae iure similique? Enim minus voluptatum commodi, laudantium sit eligendi libero.</p>
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="card m-3 border-primary">
                                <img class="card-img-top" src="../../../assets/img/header-bg-purple.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Proyecto 3</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, nisi ad itaque perspiciatis ab in ratione, ipsam nostrum, non repudiandae iure similique? Enim minus voluptatum commodi, laudantium sit eligendi libero.</p>
                                </div>
                            </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>