<!-- education.component.html -->
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Educación</h5>
          <button class="btn btn-primary float-end" *ngIf="isLoggedIn" (click)="openEducationModal(null)">Agregar</button>
        </div>
        <div class="card-body">
          <ul class="d-flex flex-wrap list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let edu of education">
              <div>
                <h5>{{ edu.institution }}</h5>
                <p>{{ edu.degree }}</p>
                <p>Período: {{ edu.startDate| date:'yyyy' }}-{{ edu.endDate| date:'yyyy' }}</p>
              </div>
              <div>
                <button class="btn btn-warning btn-sm me-2" *ngIf="isLoggedIn" (click)="openEducationModal(edu)">Editar</button>
                <button class="btn btn-danger btn-sm" *ngIf="isLoggedIn" (click)="deleteEducation(edu.id)">Eliminar</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <app-education-edit-modal *ngIf="isEducationModalOpen" [education]="selectedEducation" (save)="saveEducation($event)" (close)="closeModal()"></app-education-edit-modal>
</div>
