<!-- about-edit-modal.component.html -->
<div class="modal-backdrop">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ aboutInfo ? 'Editar Sobre mi' : 'Agregar Sobre mi' }}</h5>
        <button type="button" class="btn-close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="aboutme" class="form-label">Sobre mi</label>
          <textarea class="form-control"  id="aboutme" [(ngModel)]="editedAboutInfo" rows="25" required></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="onSave()">Guardar</button>
      </div>
    </div>
  </div>
</div>
